body {
    color: rgb(255, 255, 255);
    background: rgb(245, 184, 242);
    margin: 0px;
}

header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 45px;
    background:rgb(247, 111, 240);
}

section{
    background:rgb(218, 91, 211);
    
}